.swp
Obiektówka_cwiczenie.cbp
obj/
bin
1.cscope_file_list
2.depend
3.layout
Uzytkownicy.txt
README.md
Adress_book_OOP
Adresat.txt
ks-strukt.cpp
Debug
Obiekt\303\263wka_cwiczenie.depend
Obiektówka_cwiczenie.depend
Obiektówka_cwiczenie.layout
q
Adresat.txt
Uzytkownicy.txt